ErrorDocument 404 /_index/errors.php?error=404
ErrorDocument 401 /_index/errors.php?error=401
ErrorDocument 403 /_index/errors.php?error=403
ErrorDocument 406 /_index/errors.php?error=406
ErrorDocument 500 /_index/errors.php?error=500
ErrorDocument 503 /_index/errors.php?error=503

DirectoryIndex index.php index.html /index.php