html, body { height: 100%; }
body { font-family: Calibri, Verdana, Arial; text-align: justify; }

body.index { overflow: hidden; }

* { margin: 0; padding: 0; }


body.directory .content,
body.index .content {
  padding: 10px;
  padding-top: 3%;
  padding-bottom: 3%;
}
body.index #content { position: relative; height: 94%; margin: 0; margin-bottom: 3%; overflow-y: scroll; }

body.directory #background {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  opacity: .25;
  background-image: url('/_index/raspberry.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 50%;
  z-index: -9999;
}

#rbpi, body.error {
  color: white;
  position: relative;
  background-color: #1B191A;
  background-image: url('/_index/raspberry.png');
  background-repeat: no-repeat;
  background-position: center 25%;
  background-size: auto 50%;
  box-shadow: inset 0 0 10em -5em black;
}

body.error a, #scroll-up { text-decoration: none; background-color: rgba(0, 0, 0, .5); }
#error-global { position: absolute; left: 10%; right: 10%; bottom: 10%; }
#error-header hgroup { font-size: 2em; margin-bottom: .5em; }
#error-header hgroup * { display: inline; font-size: 1em; }
#error-content { line-height: 1.5em; }
#error-links { position: absolute; left: 10%; right: 10%; top: 5%; }
#error-links a, #scroll-up { padding: .5em 1em; }
#error-links a:first-child { float: right; }

#scroll-up { position: absolute; top: 5%; right: 5%; opacity: .5; font-size: 1.5em; padding: 0 .25em; color: white; }
#scroll-up:hover { color: #BD1143; background-color: #76A928; }

address { margin-top: 1em; opacity: .5; font-size: .75em; }

#rbpi {
  height: 100%;
}
#rbpi header {
  position: absolute;
  left: 0; right: 0;
  bottom: 15%;
  text-align: center;
  font-size: 4em;
  color: white;
}
#rbpi header * { font-size: 1em; }

#nav { position: absolute; top: 0; left: 0; bottom: 8%; min-width: 75px; width: 8%; font-size: .75em; overflow: hidden; }
#nav ul { margin: 0; padding: 0; }
#nav li { margin: 0; padding: 0; list-style-type: none; display: block; }
#nav a { display: block; margin: .5em; padding: 1em .25em; border-radius: 10px; background-color: rgb(0, 0, 0); }
#nav a { color: white; text-decoration: none; text-align: center; opacity: .5; }
#nav a:hover { background-color: rgba(0, 200, 255, .25); opacity: 1; }
#nav li:nth-child(even) a:hover { background-color: rgba(117, 169, 40, .5); }
#nav li:nth-child(odd) a:hover { background-color: rgba(189, 17, 67, .5); }

#error-content em { padding: .5em; }
.ppi, .pi { text-decoration: none !important; }
.ppi { color: #76A928; }
#error-content em,
.pi  { color: #BD1143; }

.content { max-width: 1200px; margin: auto auto !important; }

#footer {
  position: fixed; left: 0; right: 0; bottom: 0;
  line-height: 200%;
  opacity: .5;
  color: gray; background-color: #1B191A;
  padding: .75em 1em; font-size: .75em; text-align: center;
  box-shadow: 0 0 2em 0 #1B191A;
  height: 3.25%;
}

.files { width: 100%; margin: 2em 0; border-collapse: collapse; }
.files thead th { text-transform: uppercase; font-size: .75em; color: darkgray; padding: .5em 1em; }
.files tbody tr td { border-top: 1px solid rgba(0, 0, 0, .05); }
.files tbody tr:hover { background-color: rgba(118, 169, 40, .15); }
.files *  { vertical-align: middle; }
.files li { margin: 0; padding: 0; list-style-type: none; }
.files a  { line-height: 20px; padding: .5em; display: block; color: black; text-decoration: none; }
.files a:hover { text-decoration: underline; }
.files .icon     { margin: 0; padding: 0; width: 75px; text-align: center; color: #aeaeae; }
.files .icon img { max-height: 20px; max-width: 50px; }

.files thead tr th:nth-child(3) { width: 15%; }
.files thead tr th:nth-child(3),
.files tbody tr td:nth-child(3) { text-align: center; }

.files thead tr th:nth-child(4) { width: 10%; }
.files thead tr th:nth-child(4),
.files tbody tr td:nth-child(4) { text-align: center; }

.files thead tr th:nth-child(5) { width: 30%; }


ul.ariane, ul.ariane li { margin: 0; padding: 0; display: inline; }
ul.ariane li { list-style-type: none; }
ul.ariane li:not(:first-child):before { content: ' / '; color: #76A928; }
ul.ariane li a { background-color: rgba(0, 0, 0, .02); padding: .25em; }
ul.ariane li a:hover { background-color: rgba(189, 17, 67, .1); }

@media screen and (max-width: 640px) {
  .files thead tr > *:nth-child(3),
  .files tbody tr > *:nth-child(3),
  .files thead tr > *:nth-child(5),
  .files tbody tr > *:nth-child(5) { display: none; }

  .files tbody tr > *:nth-child(4) { font-size: .65em; }
}

@media screen and (max-width: 1200px) {
  .files tbody tr > *:nth-child(3) { font-size: .75em; }
}

@media screen and (max-width: 640px) {
  body.index #content { margin-bottom: 10% !important; }
  #footer { height: 1%; line-height: 1em; }

  #error-global { font-size: .85em; }
}